body {
    background-color: #F1DEDE;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-bottom: 3px solid black;
}
.title {
    color: purple;
    width: 20%;
}
a:link { 
    text-decoration: none;
}
nav ul {

}
nav li{
    display: inline;
    margin-right: 40px;
}
