body {
    background-color: #161820;
    font-family: 'Raleway', sans-serif;
}
.hero {
    background: url("../images/skyline.png");
    background-size: cover;
}


.title {
    color: cadetblue;
}

.subtitle {
    color: #ffffff;
}

